# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/
/**/web/static/css/bootstrap/
/**/web/static/js/chart.js/

# Eclipse project files
.classpath
.project
.DS_Store
.settings/

*.class
