<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="org/mapper/school.xml"/>
        <mapper resource="org/mapper/projectCommit.xml" />
        <mapper resource="org/mapper/studentCommit.xml" />
        <mapper resource="org/mapper/projectInfo.xml" />


        <!--local-->
        <mapper resource="org/localMapper/fileMapper.xml" />
        <mapper resource="org/localMapper/projectMapper.xml" />
        <mapper resource="org/localMapper/CodeAggregation.xml" />

        <mapper resource="validCoding/mapper/ValidCodeAggregation.xml" />
        <mapper resource="validCoding/mapper/Info.xml" />
        <mapper resource="validCoding/mapper/DailyCommit.xml" />
        <mapper resource="validCoding/mapper/ValidFile.xml" />
    </mappers>
</configuration>