.my-col-lg-2{
    padding-right: 0;
}

.project_panel, .student_panel{
    display: none;
}

#connection_panel, #valid_commit, #iteration_nav{
    display: none;
}
.show_bottom_border {
    border-bottom: 2px solid lightgrey;
}

canvas.pie_container {
    height: 30px;
}

svg.connection_svg {
    margin-left: 10%;
    width: 400px;
    height: 300px;
}

.node {
    fill: red;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: blue;
}

.circle_text{
    text-anchor: middle;
    stroke: black;
    stroke-width :"2px";
}