<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">

    <resultMap id="projectInfo" type="org.bean.ProjectInfo">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="webUrl" column="web_url" />
        <result property="path" column="path" />
    </resultMap>

    <select id="selectProjectNameById" resultType="String">
        SELECT name from groupproject WHERE id = #{projectId};
    </select>
    
    
    <select id="selectProjectById" resultMap="projectInfo">
        select id, name , web_url, path from groupproject WHERE id = #{projectId};
    </select>

</mapper>