.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
{
    text-align: center;
}

#container_panel {
    display: none;
}

#container_panel h2 {
    display: inline;
}

.head-info-container {
    clear: both;
}

.btn-container {
    float: right;
}

.validFile-container {
    /*overflow: hidden;*/
}

.selected_div {
    float: right;
}

.my-drop-down {
    overflow: hidden;
}

.my-selected-btn {
    float: right;
    margin-right: 20px;
}

.name_title {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    color: rgb(3,102,214);
}

.common_tittle {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    color: rgb(176,114,25);
}

#left-bar li {
    font-size: 18px;
}

#main_panel{
    display: none;
}